/* https://webkit.org/blog-files/3d-transforms/morphing-cubes.html */
body {
    background-color: black;
    color: white;
    font-family: 'Lucida Grande', Verdana, Arial;
    font-size: 12px;
    background-image: -webkit-gradient(radial,
                          50% 500, 1,
                          50% 500, 400,
                          from(rgba(255, 255, 255, 0.3)),
                          to(rgba(14, 0, 63, 0)));
   background-repeat: no-repeat;
}
#container {
    width: 100%;
    height: 700px;
    perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
    perspective-origin: 50% 225px;
}
#stage {
    width: 100%;
    height: 100%;
    transition: -webkit-transform 2s;
    transform-style: preserve-3d;
}
#shape {
    position: relative;
    top: 160px;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
}
  
.plane {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
    font-family: Times, serif;
    font-size: 124pt;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    transition: -webkit-transform 2s, opacity 2s;
    backface-visibility: hidden;
}
  
#shape.backfaces .plane {
    backface-visibility: visible;
}
  
#shape {
    animation: spin 8s infinite linear;
}

@keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}
/* ---------- cube styles ------------- */
.cube > .one {
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
}
  
.cube > .two {
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
}
  
.cube > .three {
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
}
  
.cube > .four {
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
}
.cube > .five {
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
}
  
.cube > .six {
    opacity: 0.5;
    transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
}
  
  
.cube > .seven {
    transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
}
  
.cube > .eight {
    transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
}
  
.cube > .nine {
    transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
}
  
.cube > .ten {
    transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
}
  
.cube > .eleven {
    transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
}
  
.cube > .twelve {
    transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
}
  
/* ---------- ring styles ------------- */
.ring > .one {
    transform: translateZ(380px);
}
  
.ring > .two {
    transform: rotateY(30deg) translateZ(380px);
}
  
.ring > .three {
    transform: rotateY(60deg) translateZ(380px);
}
  
.ring > .four {
    transform: rotateY(90deg) translateZ(380px);
}
  
.ring > .five {
    transform: rotateY(120deg) translateZ(380px);
}
  
.ring > .six {
    transform: rotateY(150deg) translateZ(380px);
}
  
.ring > .seven {
    transform: rotateY(180deg) translateZ(380px);
}
  
.ring > .eight {
    transform: rotateY(210deg) translateZ(380px);
}
  
.ring > .nine {
    transform: rotateY(-120deg) translateZ(380px);
}
  
.ring > .ten {
    transform: rotateY(-90deg) translateZ(380px);
}
  
.ring > .eleven {
    transform: rotateY(300deg) translateZ(380px);
}
  
.ring > .twelve {
    transform: rotateY(330deg) translateZ(380px);
}
  
.controls {
    width: 80%;
    margin: 0 auto;
    padding: 5px 20px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}
.controls > div {
    margin: 10px;
}
  